version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mlflow_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio_user
      MINIO_ROOT_PASSWORD: minio_password
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    command: >
      mlflow server --backend-store-uri postgresql://user:password@postgres:5432/mlflow_db --default-artifact-root s3://mlflow/ --host 0.0.0.0
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio_user
      AWS_SECRET_ACCESS_KEY: minio_password
    ports:
      - "5000:5000"
    depends_on:
      - postgres
      - minio

  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio_user
      AWS_SECRET_ACCESS_KEY: minio_password
    depends_on:
      - mlflow
    command: python src/serving/app.py

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - app

volumes:
  postgres_data:
  minio_data:
